.App {
  padding: 200px;
}

.App h1 {
  text-align: center;
}

.cardStudent img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.cardCourses img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.cardStudent {
  display: flex;
  margin-bottom: 40px;
  justify-content: center;
}

.cardStudent > img {
  float:left;
  margin-right: 20px;
}

.status {
  margin-top: -18px;
}

.content > p {
  margin-top: -8px;
}

.cardCourses {
  display: flex;
  margin-bottom: 40px;
  border: 1px solid #2e2e2e;
  border-radius: 5px;
  padding: 30px;
  margin-right: 20px;
}

iframe {
  margin-right: 20px;
}

.contentCourses {
  margin-right: 20px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.cardCourses p {
  font-size: 12px;
}